:root {
  --background-color: #3a0b66;
  --text-color-1: #333;
  --text-color-2: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: var(--text-color-1);
}

header {
  background-color: var(--background-color);
  color: var(--text-color-2);
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: left;
}

h2 {
  font-size: 1.2rem;
  color: navy;
  text-align: left;
  margin: 1rem;
}

nav {
  max-width: 700px;
  margin: 1rem auto;
}

#menu {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: var(--text-color-2);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-2);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation a:hover {
  background-color: #fff;
  color: var(--background-color);
  font-weight: bold;
  border-radius: 5px;
}

.open a {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure figcaption {
  color: var(--text-color-1);
  font-weight: bold;
}

footer {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color-2);
  text-align: center;
}

.temple-info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: normal;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

.overlay{
  display: flex;
  justify-content: center;
}